[innerDev]
db_host=10.129.10.169
db_name=BIReportCenterV2
db_user=sa
db_pwd=bireport@123

[outDev]
db_host=10.129.8.169
db_name=BIReportCenterV2
db_user=sa
db_pwd=bireport@123

[test]
db_host=10.129.8.110
db_name=BIReportCenterV2
db_user=qaBIReportCenterV2
db_pwd=BIReportCenterV2!

[check]
db_host=10.129.10.169
db_name=BIReportCenterV2
db_user=sa
db_pwd=bireport@123
